@font-face {
  font-family: "semiBold";
  src: url(../Fonts/popnies/Poppins-Medium.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../Fonts/popnies/Poppins-Regular.ttf);
}

@font-face {
  font-family: "bold";
  src: url(../Fonts/popnies/Poppins-Bold.ttf);
}

/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80%,
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes niceAnimate {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80%,
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/*start an transalte animation*/
@-webkit-keyframes translationY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@keyframes translationY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*rotate animation */
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

/*top border*/
@-webkit-keyframes top-border {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes top-border {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes right-border {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes right-border {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes bottom-border {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes bottom-border {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes left-border {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes left-border {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.loader {
  /*start the loading page*/
}

.loader #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader #loader {
  display: block;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #5553b8;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index: 1001;
}

.loader #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #b0f1ff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4093dc;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.loader #loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.loader #loader-wrapper .loader-section.section-left {
  left: 0;
}

.loader #loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.scroll-top-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #5553b8;
  color: #fdd2a5;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.scroll-top-btn:hover {
  background: #fdd2a5;
  border-radius: 50%;
  color: #5553b8;
}

.scroll-top-btn i {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: relative;
  bottom: 4px;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth !important;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: "bold";
}

h4,
h5,
h6 {
  font-family: "semiBold";
}

p,
span,
a,
label {
  font-family: 'regular';
  font-size: 12px !important;
}

p {
  line-height: 24.5px !important;
}

html[dir='rtl'] nav .nav-content .navbar-nav,
html[dir='rtl'] main .contact-us form .button-contain .btn {
  margin-right: auto;
}

html[dir='rtl'] main .header .header-content .header-creative-content h6::after {
  right: 0px;
}

html[dir='rtl'] .form-group, html[dir='rtl'] .form-control {
  text-align: left !important;
}

html[dir='ltr'] nav .nav-content .navbar-nav,
html[dir='ltr'] main .contact-us form .button-contain .btn {
  margin-left: auto;
}

html[dir='ltr'] .header .header-content .header-creative-content h6::after {
  left: 0px !important;
}

html[dir='ltr'] .form-group, html[dir='ltr'] .form-control {
  text-align: right !important;
}

body {
  overflow: hidden;
  background-color: #fafbfe;
}

body::-webkit-scrollbar-thumb {
  background-color: #8685cd;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #ddd;
}

/*start nav*/
nav {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 20px #8685cd;
          box-shadow: 0px 0px 20px #8685cd;
}

nav .nav-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-content .image-content {
  width: 47px;
  height: 54px;
}

nav .nav-content .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .nav-content .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: -1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .nav-content .navbar-nav .nav-item {
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-content .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  text-transform: capitalize;
}

nav .nav-content .navbar-nav .nav-item .nav-link::after {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 35%);
  background-color: #8685cd;
  -webkit-transition: width .4s linear;
  transition: width .4s linear;
}

nav .nav-content .navbar-nav .nav-item .nav-link.active::after {
  width: 70%;
  background-color: #8685cd;
}

nav .nav-content .navbar-nav .nav-item .nav-link.active span {
  font-family: "bold";
}

nav .nav-content .navbar-nav .nav-item:hover a::after {
  width: 70%;
}

.mobile-nav {
  display: none;
  list-style: none;
}

/*end nav*/
/*start main*/
main {
  /*start header*/
  /*end header*/
  /*start service*/
  /*end of service*/
  /*start some of work*/
  /*end some of work*/
  /*start our team section*/
  /*end our team section*/
  /*start our partner section*/
  /*end our partner section*/
  /*start the contact us section*/
  /*end the contact us section*/
}

main .header {
  width: 100%;
  padding: 90px 0px;
  background-color: #fafbfe;
  position: relative;
  overflow: hidden;
}

main .header .header-content {
  width: 100%;
  padding: 20px 0px;
  background-color: #dfeffd;
  border-radius: 10px;
  position: relative;
  z-index: 99;
}

main .header .header-content .header-creative-content {
  padding: 60px;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

main .header .header-content .header-creative-content h6 {
  color: #8685cd;
  position: relative;
  padding: 0px 35px;
}

main .header .header-content .header-creative-content h6::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #8685cd;
  top: calc(50% - 1px);
}

main .header .header-content .header-creative-content p {
  color: #889097;
  line-height: 1.8rem;
}

main .header .header-content .header-creative-content .service-link {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  left: 0px;
}

main .header .header-content .header-creative-content .service-link li a {
  color: #889097;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
}

main .header .header-content .header-creative-content .service-link li a span {
  color: #8685cd !important;
  font-weight: bold;
  margin-left: 5px;
  text-transform: capitalize;
}

main .header .header-content .image-cover {
  position: relative;
  width: 100%;
}

main .header .header-content .image-cover .image-content {
  width: 300px;
  height: 484px;
  margin: auto;
  position: absolute;
  top: 28px;
  left: calc(50% - 150px);
}

main .header .header-content .image-cover .image-content img {
  width: 100%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0px 110px 0px 110px;
}

main .services {
  width: 100%;
  padding: 20px 0px 0px 0px;
  background-color: #fafbfe;
  overflow: hidden;
}

main .services .underline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  position: relative;
  margin: 0px;
  z-index: 9;
}

main .services .underline::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 8px;
  left: 0px;
  z-index: -1;
  background-color: #8685cd;
}

main .services .card-container {
  padding: 30px 0px;
}

main .services .card-container .overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  position: relative !important;
  cursor: pointer;
  background-position: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  overflow: hidden;
}

main .services .card-container .overlay .box {
  width: 100%;
  padding: 50px;
  position: relative;
}

main .services .card-container .overlay .box .image-content {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #e3fce6;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

main .services .card-container .overlay .box .box-contain h6 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 16px;
}

main .services .card-container .overlay .box .box-contain p {
  margin-top: 10px;
  line-height: 24.5px;
  color: #9a9b9d;
}

main .services .card-container .overlay span {
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  background-color: #8685cd;
  opacity: 0 !important;
}

main .services .card-container .overlay span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-animation: top-border 2s linear infinite;
          animation: top-border 2s linear infinite;
}

main .services .card-container .overlay span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  -webkit-animation: right-border 2s linear infinite;
          animation: right-border 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .services .card-container .overlay span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  -webkit-animation: bottom-border 2s linear infinite;
          animation: bottom-border 2s linear infinite;
}

main .services .card-container .overlay span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-animation: left-border 2s linear infinite;
          animation: left-border 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .services .card-container .overlay:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .services .card-container .overlay:hover .image-content {
  background-color: #bfbef7;
}

main .services .card-container .overlay:hover .image-content img {
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

main .services .card-container .overlay:hover span {
  opacity: 1 !important;
}

main .some-of-work {
  width: 100%;
  padding: 20px 0px;
  background-color: #fafbfe;
}

main .some-of-work .underline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  position: relative;
  margin: 0px;
  z-index: 9;
  color: #2D2D2D;
}

main .some-of-work .underline::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 8px;
  left: 0px;
  z-index: -1;
  background-color: #FDD2A5;
}

main .some-of-work .some-of-work-content {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

main .some-of-work .some-of-work-content .box {
  position: relative;
  width: 100%;
  background-color: #dfeffd;
  margin-bottom: 60px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden;
}

main .some-of-work .some-of-work-content .box .image-content {
  width: 90%;
  height: 260px;
  top: -60px;
  left: 5%;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

main .some-of-work .some-of-work-content .box .image-content img {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

main .some-of-work .some-of-work-content .box .box-content {
  text-align: center;
  padding: 20px 10px 0px;
  top: 0;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}

main .some-of-work .some-of-work-content .box .box-content p {
  color: #2D2D2D;
}

main .some-of-work .some-of-work-content .box .box-content .btn {
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #5553B8;
  color: #fff;
}

main .some-of-work .some-of-work-content .box:hover .image-content {
  top: 0;
}

main .some-of-work .some-of-work-content .box:hover .box-content {
  visibility: visible;
  opacity: 1;
}

main .some-of-work .some-of-work-content .banner {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin: 70px 0px;
  position: relative;
  margin: 0px;
  background-repeat: no-repeat !important;
}

main .some-of-work .some-of-work-content .banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(174, 26, 26, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(180deg, rgba(174, 26, 26, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  left: 0;
  top: 0;
}

main .some-of-work .some-of-work-content .banner .banner-content {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: #fff;
  z-index: 99;
}

main .some-of-work .some-of-work-content .banner .banner-content h3 {
  font-size: 34px !important;
  line-height: 43px;
}

main .some-of-work .some-of-work-content .general-banner {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin: 70px 0px;
  background-repeat: no-repeat;
}

main .some-of-work .some-of-work-content .general-banner.last-banner {
  margin: 0px !important;
}

main .some-of-work .view-more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  position: relative;
  margin: 0px;
  z-index: 9;
  font-size: 24px !important;
  font-family: 'bold';
  color: #2D2D2D;
}

main .some-of-work .view-more::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 8px;
  left: 0px;
  z-index: -1;
  background-color: #4093dc;
}

main .our-team {
  padding: 50px 0px;
  width: 100%;
  background-color: #fafbfe;
  overflow: hidden;
}

main .our-team .box {
  padding: 10px 0px;
  width: 100%;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  cursor: pointer;
}

main .our-team .box .image-content {
  width: 100%;
  height: 233px;
}

main .our-team .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .our-team .box .box-content {
  text-align: center;
  margin-top: 34px;
}

main .our-team .box .box-content h6 {
  line-height: 9px !important;
  letter-spacing: .4px !important;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

main .our-team .box .box-content p {
  line-height: 9px !important;
  letter-spacing: .9px !important;
  margin: 19px 0px;
}

main .our-team .box .box-content .socail-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

main .our-team .box .box-content .socail-icons a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ACD7FB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 10px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

main .our-team .box .box-content .socail-icons a i {
  color: #4B4B4B;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

main .our-team .box .box-content .socail-icons a i:hover {
  color: #fff;
  -webkit-animation: niceAnimate 1s linear infinite;
          animation: niceAnimate 1s linear infinite;
}

main .our-team .box .box-content .socail-icons a:hover {
  background-color: #5553B8;
  border-color: transparent;
  border-radius: 3px;
}

main .our-team .box:hover h6 {
  color: #5553B8;
}

main .our-team .box:hover a {
  -webkit-animation: translationY 1s linear infinite;
          animation: translationY 1s linear infinite;
}

main .our-team .box:hover a:first-child {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

main .our-team .box:hover a:nth-child(2) {
  -webkit-transition-delay: .1s !important;
          transition-delay: .1s !important;
}

main .our-team .box:hover a:nth-child(3) {
  -webkit-transition-delay: .2s !important;
          transition-delay: .2s !important;
}

main .our-team .box:hover a:last-child {
  -webkit-transition-delay: .3s !important;
          transition-delay: .3s !important;
}

main .our-partner {
  padding: 50px 0px;
  width: 100%;
}

main .our-partner .item img {
  width: 107px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  cursor: pointer;
}

main .our-partner .item img:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

main .contact-us {
  width: 100%;
  padding: 100px 0px;
}

main .contact-us .contact-us-contain {
  padding-top: 70px;
  width: 100%;
}

main .contact-us .contact-us-contain .underline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  position: relative;
  margin: 0px;
  z-index: 9;
}

main .contact-us .contact-us-contain .underline::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 8px;
  left: 0px;
  z-index: -1;
  background-color: rgba(85, 83, 184, 0.7);
}

main .contact-us .contact-us-contain h4 {
  color: #2D2D2D;
  line-height: 26px;
  letter-spacing: 0.396px;
  margin: 0px;
  text-transform: capitalize;
}

main .contact-us .contact-us-contain p {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  letter-spacing: 0.396px;
}

main .contact-us form label {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
}

main .contact-us form input,
main .contact-us form textarea {
  background: #FFFFFF;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 30px 0px 32px 31px;
}

main .contact-us form input:focus,
main .contact-us form textarea:focus {
  border-color: #5553B8;
}

main .contact-us form input::-webkit-input-placeholder,
main .contact-us form textarea::-webkit-input-placeholder {
  text-transform: capitalize;
  font-family: 'regular';
}

main .contact-us form input:-ms-input-placeholder,
main .contact-us form textarea:-ms-input-placeholder {
  text-transform: capitalize;
  font-family: 'regular';
}

main .contact-us form input::-ms-input-placeholder,
main .contact-us form textarea::-ms-input-placeholder {
  text-transform: capitalize;
  font-family: 'regular';
}

main .contact-us form input::placeholder,
main .contact-us form textarea::placeholder {
  text-transform: capitalize;
  font-family: 'regular';
}

main .contact-us form textarea {
  height: 200px;
  resize: none;
}

main .contact-us form .button-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

main .contact-us form .button-contain .btn {
  position: relative;
  width: 197px;
  height: 64px;
  border: 1px solid #5553B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.396px;
  color: #5553B8;
  z-index: 99;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

main .contact-us form .button-contain .btn::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #5553B8;
  z-index: -1;
  top: 0;
  left: 0px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

main .contact-us form .button-contain .btn:hover {
  color: #fff;
}

main .contact-us form .button-contain .btn:hover::after {
  width: 100%;
}

/*end main*/
/*start footer*/
footer {
  width: 100%;
  padding: 40px 0px 25px 0px;
  background-color: #F4F8FD;
}

footer .footer-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .footer-contain .image-content {
  width: 47px;
  height: 54px;
}

footer .footer-contain .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .footer-contain .socail-link a {
  margin-left: 20px;
  color: #4B4B4B;
}

footer .footer-contain .socail-link a i {
  font-size: 20px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

footer .footer-contain .socail-link a:hover i {
  -webkit-animation: translationY 1s linear infinite;
          animation: translationY 1s linear infinite;
  color: #5553B8;
}

footer .footer-contain .copyright {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.396px;
  line-height: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

footer .footer-contain .copyright span {
  color: #5553B8;
  font-weight: bold;
}

/*end footer*/
/*# sourceMappingURL=style.css.map */